# 
# NBR 5410 Calculator
# 
# 
# Author: Marcelo Tellier Sartori Vaz <marcelotsvaz@gmail.com>



jsons @ git+https://gitlab.com/marcelotsvaz/jsons.git@0fe4c64a643a46fb44d1d3e87da915899ee4f8e9
pyjson5==1.6.2
PySide6-Essentials==6.4.2
typing_extensions==4.5.0



## The following requirements were added by pip freeze:
shiboken6==6.4.2
typish==1.9.3